<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fraiseProject</string>
				<string>frap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FRAProjectIcon</string>
			<key>CFBundleTypeName</key>
			<string>Fraise Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FRAProject</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>FRADocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Fraise Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FRAd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.fraise.fraise.document</string>
				<string>public.plain-text</string>
				<string>public.html</string>
				<string>public.xml</string>
				<string>public.c-source</string>
				<string>public.objective-c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.apple.traditional-mac-plain-text</string>
				<string>public.shell-script</string>
				<string>public.csh-script</string>
				<string>public.perl-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.php-script</string>
				<string>com.apple.applescript.text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-external-plain-​text</string>
				<string>public.utf16-plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All documents</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fraiseSnippets</string>
				<string>fralc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FRASnippetsIcon</string>
			<key>CFBundleTypeName</key>
			<string>Fraise Snippets</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fraiseCommands</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FRACommandsIcon</string>
			<key>CFBundleTypeName</key>
			<string>Fraise Commands</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Fraise</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Fraise Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Fraise Help</string>
	<key>CFBundleIconFile</key>
	<string>FRAMainIcon</string>
	<key>CFBundleIdentifier</key>
	<string>org.fraise.Fraise</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fraise</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FRAI</string>
	<key>CFBundleVersion</key>
	<string>3.7.2</string>
	<key>ExcludeSyncKeys</key>
	<array>
		<string>PreferencesGeneralViewSavedFrame</string>
		<string>HasInsertedDefaultSnippets</string>
		<string>HasImportedFromVersion2</string>
		<string>HasInsertedDefaultCommands3</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>FRAMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>FRAApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Fraise/Open Selected File</string>
			</dict>
			<key>NSMessage</key>
			<string>openFile</string>
			<key>NSPortName</key>
			<string>Fraise</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Fraise/Insert Selection Into Current Document</string>
			</dict>
			<key>NSMessage</key>
			<string>insertSelection</string>
			<key>NSPortName</key>
			<string>Fraise</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Fraise/New Document Containing Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>openSelection</string>
			<key>NSPortName</key>
			<string>Fraise</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Fraise.sdef</string>
	<key>SUFeedURL</key>
	<string>http://www.bloggezmoy.com/fraise/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fraise Document</string>
			<key>UTTypeIconFile</key>
			<string>DocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.fraise.fraise.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>FRAd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
