<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionDefinition</key>
	<string>^\s*function\s+.*\n?\s*\{</string>
	<key>beginVariable</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>endCommand</key>
	<string></string>
	<key>beginCommand</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>if</string>
		<string>else</string>
		<string>for</string>
		<string>in</string>
		<string>while</string>
		<string>do</string>
		<string>continue</string>
		<string>break</string>
		<string>with</string>
		<string>try</string>
		<string>catch</string>
		<string>switch</string>
		<string>case</string>
		<string>new</string>
		<string>var</string>
		<string>return</string>
		<string>delete</string>
		<string>true</string>
		<string>false</string>
		<string>void</string>
		<string>throw</string>
		<string>typeof</string>
		<string>const</string>
		<string>default</string>
		<string>escape</string>
		<string>Number</string>
		<string>window</string>
		<string>this</string>
		<string>call</string>
		<string>caller</string>
		<string>class</string>
		<string>=&gt;</string>
		<string>@</string>
		<string>-&gt;</string>
		<string>extends</string>
	</array>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>###</string>
	<key>beginInstruction</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>###</string>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>autocompleteWords</key>
	<array/>
	<key>class</key>
	<string>class</string>
</dict>
</plist>
